<sticky-divider [displayText]="selectedCustomer.name1"></sticky-divider>
<ion-list no-margin *ngFor="let group of groupedObjects">
  <sticky-divider [displayText]="group.letter"></sticky-divider>

<ion-item-sliding *ngFor="let obj of group.object">
  <ion-item (click)="editContact(obj)">
    <ion-avatar item-left>
      <img [src]="obj.photo">
    </ion-avatar>
    <h2>{{obj.name}}</h2>
    <p>{{obj.designation}}</p>
  </ion-item>
  <ion-item-options side="right">
      <button ion-button color="danger" (click)="deleteContact(obj)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      <button ion-button color="primary" (click)="emailContact(obj.emailid)">
        <ion-icon name="mail"></ion-icon>
        Email
      </button>
      <button ion-button color="secondary" (click)="callContact(obj.mobileno)">
        <ion-icon name="call"></ion-icon>
        Call
      </button>
    </ion-item-options>
</ion-item-sliding>
</ion-list>

<ion-fab right bottom>
    <button ion-fab color="golden"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button (click)="pickContact()" ion-fab color="golden"><ion-icon name="book"></ion-icon></button>
      <button (click)="addContact()" ion-fab color="golden"><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
