.ios, .md {

    customer-reports {

        .scroll-content {
            background-color: map-get($colors, light);
        }

        ion-card-header {
            font-weight: bold;
        }
        .item-ios.item-block .item-inner, .item-md.item-block .item-inner {
          padding-right: 1px;
        }
        ion-item .label-ios, ion-item .label-md {
          margin: 0;
        }

    }

}
