<ion-header>
	<div ion-text text-center>
		<img src="./assets/img/logo.png"/>
	</div>
</ion-header>
<ion-content>
	<ion-grid>
		<ion-row *ngFor="let doubles of getDoubles()">
			<ion-col *ngFor="let item of doubles" (click)="openPage(item)">
				<ion-item style="text-align:center !important;">
					<ion-icon [name]='item.iconName' color="golden" style="font-size:24px;"></ion-icon><br>
					<label style="color:#fff;">{{item.title}}</label>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
